<app-popup-overlay (onClose)="onExit()" />
<dialog class="dialog-container">
  <h4 class="text-md text-bold dialog-head">Confirm Deletion</h4>
  <p class="text-sm dark-grey dialog-text">
    Are you sure you want to delete invoice #XM9141? This action cannot be undone.
  </p>
  <div class="dialog-actions">
     <button (click)="onExit()" app-button buttonType="neutral" title="Cancel">Cancel</button>
     <button app-button buttonType="danger" title="Delete" class="gap-around">Delete</button>
  </div>
</dialog>
