:host {
  top: 0;
  left: 0;
  bottom: 0;
  width: 103px;
  display: flex;
  position: fixed;
  overflow: hidden;
  transition: none;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url('data:image/svg+xml,<svg width="103" height="100%" viewBox="0 0 103 800" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_9256)"><path d="M0 0H103V800H0V0Z" fill="%23373B53"/><path d="M0 0H83C94.0457 0 103 8.9543 103 20V83C103 94.0457 94.0457 103 83 103H0V0Z" fill="%237C5DFA"/><mask id="mask0_1_9256" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="103" height="103"><path d="M0 0H83C94.0457 0 103 8.9543 103 20V83C103 94.0457 94.0457 103 83 103H0V0Z" fill="white"/></mask><g mask="url(%23mask0_1_9256)"><path d="M103 52H20C8.95431 52 0 60.9543 0 72V135C0 146.046 8.95431 155 20 155H103V52Z" fill="%239277FF"/></g><path fill-rule="evenodd" clip-rule="evenodd" d="M42.6942 33.2922L52 51.9999L61.3058 33.2922C67.6645 36.6407 72 43.314 72 50.9999C72 62.0456 63.0457 70.9999 52 70.9999C40.9543 70.9999 32 62.0456 32 50.9999C32 43.314 36.3355 36.6407 42.6942 33.2922Z" fill="white"/></g><defs><clipPath id="clip0_1_9256"><rect width="103" height="800" fill="white"/></clipPath></defs></svg>');
}

.hidden {
  display: none;
}

button{
  border: none;
  display: block;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.divider {
  border-top: 1px solid #494E6E;
  width: 100%;
  margin: 0px;
  margin-top: 16px;
}

.profile {
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 15px;
}

.profile img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  display: block;
}

@media screen and (max-width: 830px) {
  :host {
    right: 0;
    bottom: auto;
    width: 100%;
    height: 80px;
    flex-direction: row;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url('data:image/svg+xml,<svg width="100%" height="80" viewBox="0 0 768 80" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="768" height="80" fill="%23373B53"/><path d="M0 0H60C71.0457 0 80 8.95431 80 20V60C80 71.0457 71.0457 80 60 80H0V0Z" fill="%237C5DFA"/><mask id="mask0_2_2" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="80" height="80"><path d="M0 0H60C71.0457 0 80 8.95431 80 20V60C80 71.0457 71.0457 80 60 80H0V0Z" fill="white"/></mask><g mask="url(%23mask0_2_2)"><path d="M80 40.3887H20C8.95431 40.3887 0 49.343 0 60.3887V100.389C0 111.434 8.95431 120.389 20 120.389H80V40.3887Z" fill="%239277FF"/></g><path fill-rule="evenodd" clip-rule="evenodd" d="M33.288 26L40.5 40.3876L47.712 26C52.64 28.5753 56 33.7075 56 39.6185C56 48.1134 49.0604 54.9999 40.5 54.9999C31.9396 54.9999 25 48.1134 25 39.6185C25 33.7075 28.36 28.5753 33.288 26Z" fill="white"/></svg>');
  }
  .divider{
    width: auto;
    height: 100%;
    border-top: none;
    border-left: 1px solid #494E6E;
    margin-top: 0px;
    margin-left: 16px;
  }
}
