
  <div class="loader-container center zoom-in">
    @if(!isStatus('retry')){
      <div class="center">
        <div class="spinner"></div>
        <p class="text-sm font-normal dark-grey slide-up">{{message[0]||''}} <br> {{message[1]||''}}</p>
      </div>
    }
    @else {
      <div class="center">
        <div>
          <button (click)="retry()" type="button" class="action-button" style="margin-bottom:15px;" app-button buttonType="default"  title="Try Again" >Try Again</button>
        </div>
        <p class="text-sm font-normal dark-grey slide-up" style="margin-top: 0px;">Oops! No internte connection. <br> Reconnect and try again</p>
      </div>
    }

  </div>
