
<button (click)="onClick()" class="back-button">
  <span app-icon name="arrow-left"></span>
  <span class="text-sm text-bold back-button-text">Go back</span>
</button>

<div class="card-container">

  <div class="action-bar flex-row">
    <div class="flex-row status">
      <span class="text-sm dark-grey action-bar-text">Status</span>
      <status-badge badge='pending' />
    </div>

    <div class="flex-row actions">
      <button class="action-button" app-button buttonType="neutral" title="Edit" ></button>
      <button class="action-button" app-button buttonType="danger" title="Delete" ></button>
      <button class="action-button" app-button buttonType="default" title="Mark as Paid" ></button>
    </div>
  </div>

  <div class="details-container">
    <div class="flex-row details-top-details">
      <div>
          <div class="text-bold details-text column" style="margin-bottom: 8px;">
            <span class="dark-grey">#</span> <span>RT3080</span>
          </div>
          <div class="details-text dark-grey text-sm">Graphic Design</div>
      </div>
      <div>
        <div class="details-text dark-grey text-sm">19 Union Terrace</div>
        <div class="details-text dark-grey text-sm">London</div>
        <div class="details-text dark-grey text-sm">E1 3EZ</div>
        <div class="details-text dark-grey text-sm">United Kingdom</div>
      </div>
    </div>

    <div class="flex-row details">
        <div class="column">
          <div>
            <div class="details-text dark-grey text-sm">Invoice Date</div>
            <div class="details-text text-md text-bold">21 Aug 2021</div>
          </div>
          <div style="margin-top: 30px;">
            <div class="details-text dark-grey text-sm">Payment Due</div>
            <div class="details-text text-md text-bold">20 Sep 2021</div>
          </div>
        </div>
        <div class="column">
          <div class="details-text dark-grey text-sm">Bill To</div>
          <div class="details-text text-md text-bold">Alex Grim</div>
          <div class="details-text dark-grey text-sm">84 Church Way</div>
          <div class="details-text dark-grey text-sm">Bradford</div>
          <div class="details-text dark-grey text-sm">BD1 9PB</div>
          <div class="details-text dark-grey text-sm">United Kingdom</div>
        </div>
        <div class="column">
          <div>
            <div class="details-text dark-grey text-sm">Sent To</div>
            <div class="details-text text-md text-bold">alexgrim{{'@'}}mail.com</div>
          </div>
        </div>
    </div>

    <div class="price-details">
      <div class="price-details-item flex-row screen-large-flex">
        <div class="dark-grey text-sm">Item Name</div>
        <div class="right-columns flex-row">
          <div class="column dark-grey text-sm">QTY</div>
          <div class="column dark-grey text-sm">Price</div>
          <div class="column dark-grey text-sm">Total</div>
        </div>
      </div>

      <div class="price-details-item flex-row">
        <div>
          <div class="font-medium details-text">Banner Design</div>
          <div class="details-text dark-grey font-medium screen-small">1 x £ 156.00</div>
        </div>
        <div class="right-columns flex-row">
          <div class="column dark-grey font-medium screen-large">1</div>
          <div class="column dark-grey font-medium screen-large">£ 156.00</div>
          <div class="column font-medium">£ 156.00</div>
        </div>
      </div>

      <div class="price-details-item flex-row">
        <div>
          <div class="font-medium details-text">Email Design</div>
          <div class="details-text dark-grey font-medium screen-small">2 x £ 200.00</div>
        </div>
        <div class="right-columns flex-row">
          <div class="column dark-grey font-medium screen-large">2</div>
          <div class="column dark-grey font-medium screen-large">£ 200.00</div>
          <div class="column font-medium">£ 400.00</div>
        </div>
      </div>

      <div class="price-total flex-row">
        <div class="text-sm light-grey">Amount Due</div>
        <div class="text-lg text-bold amount">£ 556.00</div>
      </div>
    </div>

  </div>

</div>
