<!-- <app-popup-overlay (onClose)="onClose()" /> -->
<!-- <div class="container"> -->
  <form>

    <section class="form-space" [formGroup]="form" >
      <div class="form-header">
        <h2 class="text-lg font-bold">Sign in</h2>
        <p class="dark-grey text-md">Sign in to manage your invoices</p>
      </div>

      <div class="form-group" >
        <app-input inputTitle="Email" [errored]="!!controllErrored('email')" [formControl]="getFormControl('email')" inputType="text" />
        <app-input inputTitle="Password" [errored]="!!controllErrored('password')" [formControl]="getFormControl('password')" inputType="password" />
        <div>
          <button (click)="onSignIn()" type="button" class="action-button" app-button buttonType="default" title="Sign In" ></button>
        </div>
      </div>
    </section>

    <section class="illustration-space">
      <img aria-hidden="true" alt="Empty illustration image" src="../../assets/images/signup.gif" />
      <div class="illustration-cover"></div>
    </section>


  </form>
  <div *ngIf="authenticating||loadingInvoices" class="loader-overlay center">
    <div class="loader-container center zoom-in">
        <div class="center">
          <div class="spinner"></div>
          <p *ngIf="authenticating" class="text-sm font-normal dark-grey slide-up">Signing you in. <br> Please wait a minute...</p>
          <p *ngIf="loadingInvoices" class="text-sm font-normal dark-grey slide-up">Loading your invoices. <br> Please wait a minute...</p>
        </div>
    </div>
  </div>
<!-- </div> -->
