<a [routerLink]="['/invoice', invoiceData.id]" class="flex-row screen-large">
  <div class="details flex-row">
    <div>
      <span class="text-bold text-sm column">
        <span class="dark-grey">#</span> <span>{{invoiceData.id}}</span>
      </span>
      <span class="dark-grey column text-sm">Due  {{formatDate(invoiceData.paymentDue)}}</span>
      <span class="dark-grey column text-sm">{{invoiceData.clientName}}</span>
    </div>

    <div class="text-bold">£ {{formatAmount(invoiceData.total)}}</div>
  </div>

  <div class="flex-row">
    <status-badge [badge]="invoiceData.status" />
    <div app-icon name="arrow-right"></div>
  </div>
</a>

<a [routerLink]="['/invoice', invoiceData.id]" class="screen-small">
  <div class="flex-row" style="margin-bottom: 15px;">
    <span class="text-bold column">
      <span class="dark-grey">#</span> <span>RT3080</span>
    </span>
    <span class="dark-grey column text-sm">Jensen Huang</span>
  </div>

  <div class="flex-row">
    <div>
      <div class="dark-grey column text-sm" style="margin-bottom: 6px;">Due  19 Aug 2021</div>
      <div class="text-bold text-md">£ 1,800.90</div>
    </div>
    <status-badge [badge]="invoiceData.status" />
  </div>
</a>
