<div class="date-picker-container">
    <label for="issue-date" class="date-label text-sm dark-grey">Issue Date</label>
    <div class="input-wrapper" (click)="toggleCalendar()">
        <input type="text" id="issue-date" placeholder="mm/dd/yyyy" readonly class="date-input text-sm " #issueDateInput />
        <span app-icon name="calendar" ></span>
    </div>

    <!-- Calendar Container -->
    <div class="calendar" [ngClass]="{ 'hidden': isCalendarHidden }">
        <div class="calendar-header">
            <button title="Previous" app-icon name="arrow-left" (click)="previousMonth()"></button>
            <span class="calendar-title" #calendarTitle>{{ currentDate | date:'MMM yyyy' }}</span>
            <button title="Next" app-icon name="arrow-right" (click)="nextMonth()"></button>
        </div>

        <div class="calendar-days" #calendarDays>
            <!-- Calendar days will be dynamically generated -->
            <span *ngFor="let day of daysInMonth" [class.day]="day !== 0"
                (click)="selectDay(day, currentDate.getFullYear(), currentDate.getMonth())">
                {{ day !== 0 ? day : '' }}
            </span>
        </div>
    </div>
</div>
