<label>
  @if(!hideLabelText){
    <div class="text-sm dark-grey form-text">{{inputTitle}}</div>
  }
  @if(typeof inputValue!=='undefined'){
    <input [value]="inputValue" [title]="inputTitle" [placeholder]="placeHolder" (keyup)="onEnterKeyPressed($event)" [type]="inputType" [className]="errored?'error':''" [formControl]="formControl" />
  }
  @else {
    <input [title]="inputTitle" [placeholder]="placeHolder" (keyup)="onEnterKeyPressed($event)" [type]="inputType" [className]="errored?'error':''"  [formControl]="formControl"/>
  }
</label>

